/* Estilo base */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4ec;
}

html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo de introdução */
.texto-intro {
  background-color: #f4e4bc;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Georgia', serif;
  color: #5b4e3c;
  border: 1px solid #c3a36e;
  background-image: radial-gradient(circle, #fdf2e3, #f4e4bc);
}

.texto-intro p {
  line-height: 1.6;
}

.texto-intro strong {
  font-size: 18px;
  color: #5b4e3c;
}

/* Configuração principal */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Preenche o espaço restante */
  padding-top: 0px;
}

.sidebar-and-receita {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #816f55;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;

}

.sidebar h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  text-align: center;
  color: #e1cbb1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px 0;
  color: #e1cbb1;
  border-bottom: 1px solid #7b5836;
}

.sidebar li:hover {
  background-color: #7b5836;
}

/* Receita */
.receita {
  background-color: #f4e4bc;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Georgia', serif;
  color: #5b4e3c;
  border: 1px solid #c3a36e;
  background-image: radial-gradient(circle, #fdf2e3, #f4e4bc);
}

.receita-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
}

.receita h2 {
  font-size: 1.8em;
  color: #5b4e3c;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #c3a36e;
  padding-bottom: 10px;
}

/* Botão de envio */
.botao-enviar {
  padding: 10px 20px;
  background-color: #5b4e3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-enviar:hover {
  background-color: #7b5836;
}

/* Comentários */
.comentarios {
  margin-top: 30px;
}

.comentario-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  width: 100%;
  transition: background-color 0.3s;
}

.botao-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

button {
  background-color: #a07d52;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.editar-feedback:hover, .excluir-feedback:hover, .curtir-feedback:hover {
  background-color: #8b673f;
}

.input-feedback {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #e1cbb1;
  background-color: #f9f9f9;
  font-size: 1em;
  transition: background-color 0.3s;
}

.input-feedback:focus {
  background-color: #f5f0e6;
  outline: none;
}

/* Estilo para o botão de hambúrguer */
.hamburguer-btn {
  display: none;  /* Inicialmente escondido em telas grandes */
  font-size: 14px;
  background-color: #816f55;
  color: #e1cbb1;
  padding: 7px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 94px;
  left: 0px;
  z-index: 1000;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 767px) {
  /* Exibe o botão de hambúrguer em telas pequenas */
  .hamburguer-btn {
    display: block;
  }

  /* Menu lateral de enfermidades */
  .sidebar {
    width: 40%; /* Menor largura para o menu */
    height: 100vh; /* Ocupa a tela toda */
    position: fixed;
    top: 23px;
    left: -100%; /* Inicialmente escondido */
    background-color: #816f55;
    color: #fff;
    transition: left 0.3s ease; /* Animação para aparecer/desaparecer */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Permite rolar se o conteúdo for maior que a tela */
  }

  /* Menu lateral visível quando ativado */
  .sidebar.open {
    left: 0; /* Exibe o menu */
  }

  /* Conteúdo central */
  .conteudo-central {
    width: 100%;
    margin-left: 0; /* Não há espaço para o menu */
    padding: 10px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
  }

  /* Quando o menu está aberto, o conteúdo central se ajusta */
  .sidebar.open + .conteudo-central {
    margin-left: 60%; /* Espaço dado ao menu */
  }

  /* Estilo para a receita e comentários */
  .receita-comentarios-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .receita, .comentarios {
    width: 100%;
    max-width: 600px; /* Define uma largura máxima para o conteúdo */
    margin: 10px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  /* Ajuste para o botão de envio */
  .botao-enviar, .comentario-botoes button {
    padding: 10px;
    width: 100%;
    background-color: #816f55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
  }
}
